html {
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: #ffff33;
  color: white;
}

::selection {
  background-color: #ffff33;
  color: white;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-display: swap;
  font-size: 1rem;
  color: #FEFEFE;
  font-size: 16px;
  background-color: #1A1B1D;
}

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  justify-content: center;
  align-items: center;
  padding: 14px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background-color: #ffff33;
  color: black;
  transition: all ease-in-out 250ms;
}

.navbar .logo {
  flex: 1;
}

.navbar .menuDesktop {
  display: flex;
}

.navbar.responsive .menuDesktop {
  display: block;
}

.navbar .icon {
  display: none;
}


.shareBtn {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
}

.elementBtn {
  padding: 0 5px;
  cursor: pointer;
  transition: all ease-in-out 250ms;
  margin: auto;
}
.elementBtn img {
  position: relative;
  width: 25px;
}

section {
  min-height: 50vh;
  padding: 25px 15% 25px 15%;
  background-color: #1A1B1D;
}

.separator {
  width: 20vw;
  height: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffff33;
}

.mainView {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  color: #9fa0ac;
  background: url("../img/main_4.jpg");
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

h1 {
  position: absolute;
  text-align: center;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  font-size: 7vh;
  font-weight: 900;
  color: #FEFEFE;
  text-shadow: 0 2px 10px #1A1B1D;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: opacity 2s cubic-bezier(0.17, 0.67, 0.14, 0.97) both;
  animation: opacity 2s cubic-bezier(0.17, 0.67, 0.14, 0.97) both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;

  img{
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
  
  }
}


@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h2 {
  font-size: 2rem;
}

h2#slogan {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 5vh;
  font-weight: 600;
  color: #ffff33;
  text-shadow: 0 2px 10px #1A1B1D;
  opacity: 0;
  transform: translateY(-45px);
  -webkit-animation: slideY 2s cubic-bezier(0.17, 0.67, 0.14, 0.97) both;
  animation: slideY 2s cubic-bezier(0.17, 0.67, 0.14, 0.97) both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes slideY {
  from {
    opacity: 0;
    transform: translateY(-45px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
@keyframes slideY {
  from {
    opacity: 0;
    transform: translateY(-45px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
p {
  color: #9fa0ac;
  line-height: 30px;
  margin: 50px 0 50px 0;
}

p.miniPara {
  color: #FEFEFE;
  line-height: 30px;
  margin: 0;
}

.hardLight {
  font-size: 3vh;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
  width: 70%;
  margin: 20px auto 20px auto;
}

.imgContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80%;
}
.imgContent .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.imgContent .card p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.imgContent .card p:first-of-type {
  font-size: 1.3rem;
  color: #FEFEFE;
}
.imgContent .card::before  {
  content: url("../img/instagram-min-white.svg");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  top: 0;
  left: 0;
  margin: 15px auto;
  width: 100%;
  max-width: 250px;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 51, 0.7);
  z-index: 2;
  transition: all ease-in-out 150ms;
}
.imgContent .card:hover::before {
  opacity: 1;
  transition: all ease-in-out 150ms;
}
.imgContent img {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 15px auto;
  border-radius: 15px;
}

p.miniTitle {
  font-size: 4vh;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
  color: white;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

p.pink {
  color: #ffff33;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0, 0.69, 0.46, 0.95);
}
p.pink:hover {
  transform: translateX(5px);
  transition: all 250ms cubic-bezier(0, 0.69, 0.46, 0.95);
}

#bandVideo {
  width: 640px;
  background-color: #1E0E18;
  cursor: pointer;
}

.date table {
  margin: 70px 0;
  width: 100%;
  border-spacing: 0;
}
.date table td {
  border-bottom: solid 1px #9fa0ac;
  color: #9fa0ac;
  padding-top: 10px;
  padding-bottom: 10px;
}
.date table td a {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.date table td a:hover {
  transform: translateX(5px);
  transition: all 250ms cubic-bezier(0, 0.69, 0.46, 0.95);
}
.date table td:first-of-type {
  color: white;
}
.date table td:nth-of-type(even) {
  padding-left: 7px;
}
.date table span {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ss-nextShow, .ss-music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

footer {
  background-color: #ffff33;
  min-height: 15vh;
}

.contact{
  color: #9fa0ac;
  background: url("../img/groupededos.jpg");
  background-size: cover;
  background-position: center;
  background-color: transparent;

}
.contact-content{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact p {
  text-align: center;
}

.presskit{
  border: 1px solid #ffff33;
  text-align: center;
}


.hidePara {
  margin: 0;
  color: #ffff33;
}

::-webkit-input-placeholder {
  color: #1A1B1D;
}

::-moz-placeholder {
  color: #1A1B1D;
}

:-ms-input-placeholder {
  color: #1A1B1D;
}

::-ms-input-placeholder {
  color: #1A1B1D;
}

::placeholder {
  color: #1A1B1D;
}

@-webkit-keyframes animeLogo {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animeLogo {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
button[name=backSite] {
  border: none;
  border-radius: 5px;
  max-width: 250px;
  margin: 25px;
  padding: 10px;
  background-color: #ffff33;
  font-size: 2.5vh;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.animatableY {
  opacity: 0;
  transform: translate3d(0, 3vh, 0);
  transition: all ease-in-out 1s;
}

.animatableX {
  opacity: 0;
  transform: translate3d(-3vw, 0, 0);
  transition: all ease-in-out 1s;
}

.animatableOpacity {
  opacity: 0;
  transition: all ease-in-out 1s;
}

.showed {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all ease-in-out 1s;
}

@media screen and (max-width: 1024px) {
  .navbar{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    width: 90%;
    font-size: 4vh;
    bottom: 45%;
  }

  h2#slogan {
    width: 90%;
    font-size: 4vh;
    bottom: 20%;
  }

  .shareBtn {
    display: none;
  }

  section {
    padding: 50px 2% 50px 2%;
  }

  .hardLight {
    width: 100%;
  }

  .imgContent .card::before {
    display: none;
  }

  .date table td a:hover {
    transform: none;
  }

  .date table td:nth-of-type(even) {
    padding-left: 1px;
  }
}

@media all and (max-width: 320px) {
  table {
    font-size: 0.8rem;
  }
  table td:last-of-type {
    display: none;
  }

  .hardLight {
    font-size: 2vh;
  }
}